.footer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  bottom: 10%;
  left: 0%;
  transform: translate(-0%, 20%);
}

.btn {
  text-decoration: none;
  color: darkblue;
}

.welcome,
.create,
.log,
.foot {
  display: flex;
  justify-content: center;
}

.dashboard {
  color: hsla(0, 0%, 100%, 0.6);
  background: #000000 !important;
  background-position: center 10%;
  background-size: cover;
  height: 100% !important;
}
