.footer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  bottom: 10%;
  left: 0%;
  transform: translate(-0%, 20%);
}

.chat-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.text {
  display: block;
  text-align: center;
}

.chat {
  width: 100%;
  height: 87%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.chat-area,
.home {
  margin-top: 60px;
}

.chat-area {
  padding: 20px;
  height: 400px;
  overflow-y: scroll;
}

.chat-area
.chat-bubble {
  background-color: #bbdefb;
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  word-wrap: break-word;
}

.chat-bubble
.chat-time {
  font-size: 12px;
  color: #757575;
  text-align: right;
}

.chat-area
.chat-bubble
.current-user {
  margin-left: auto;
  background-color: #a5d6a7;
}

.form-control {
  width: 200px;
  height: 200px;
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  margin-top: 10px;
}

.btn-submit {
  background-color: #2e7d32;
  color: white;
}

@media screen and (max-width: 767px) {
  .form-control {
    width: 100%;
  }

  .chat-area
  .chat-bubble {
    max-width: 250px;
  }
}
