.footer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  bottom: 10%;
  left: 0%;
  transform: translate(-0%, 20%);
}

.btn {
  text-decoration: none;
  color: darkblue;
}

.welcome,
.create,
.log,
.foot {
  display: flex;
  justify-content: center;
}

/* .start {
  background-color: cornflowerblue;
  width: 100%;
} */

.large{
  width: 100%;
}