.py-6 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.py-6 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.f4 {
  font-size: 16px !important;
}
.text-center {
  text-align: center !important;
}
.f4 {
  font-size: 16px !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.f4 {
  font-size: 16px !important;
}
.f4 {
  font-size: 16px !important;
}
.rounded-1 {
  border-radius: 6px !important;
}
.py-4 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.px-4 {
  padding-right: 24px !important;
}
.bg-gray-light {
  background-color: #fafbfc !important;
}
.jumbotron-codelines {
  background: url(../../img/chatting.png) none, #2b3137 !important;
  background-position: center 10%;
  background-size: cover;
  height: 100%;
}
